
//////////////////////////////
// Fundament.Grid
// MIT LICENSE © 2015 Felix Spöttel
///////////////////////////////


// Configuration
//////////////////////////////

$fdmt-gutter: 1.5rem;

$fdmt-breakpoints: (
    lap:  "min-width: 561px",
    desk: "min-width: 1025px",
    high: "min-width: 1500px"
);

// Imports
//////////////////////////////

@import "fundament-grid/core";
@import "fundament-grid/functions";
@import "fundament-grid/modifiers";
