block content
    header(role="banner")
        h1 Test: Breakpoints
    section.breakpoint-container
        article.breakpoint-text.visible-md-up
            p White on md &amp; up
        article.breakpoint-text.visible-sm-md
            p White only on sm &amp; md
        article.breakpoint-text.visible-custom
            p White on screens > 666px
    section.breakpoint-grid
        article.breakpoint-item
          div.block
        article.breakpoint-item
          div.block
        article.breakpoint-item
          div.block
        article.breakpoint-item
          div.block
