block content

  header(role="banner")
    h1 Test: Push / Pull


  section.widths-container
    // Column #1
    article.widths-column
      // 2
      section.push-container
        article.push-item.one-two.push-one-two
          div.block

      // 3
      section.push-container
        article.push-item.one-three.push-two-three
          div.block

      // 4
      section.push-container
        article.push-item.one-four.push-three-four
          div.block


      // 5
      section.push-container
        article.push-item.one-five.push-four-five
          div.block
    // Column #2
    article.widths-column
      // 2
      section.pull-container
        article.pull-item.one-two.pull-one-two
          div.block

      // 3
      section.pull-container
        article.pull-item.one-three.pull-two-three
          div.block

      // 4
      section.pull-container
        article.pull-item.one-four.pull-three-four
          div.block


      // 5
      section.pull-container
        article.pull-item.pull-four-five.one-five
          div.block
