
// * Fundament Grid System
// * ---------------------
// * A flexbox-first, semantic and customizable scss grid system with a robust inline-block fallback.
// * For documentation, see: https://github.com/felics/fundament
// @requires: SASS 3.3.*
// * ---------------------

$fundament: (

    // * Core Settings

    settings: (
        // * Select a namespace for the main-class, item-class and modifiers
        namespace:      "grid",
        // * If true, all breakpoints in "breakpoints" will be included with corresponding widths
        responsive:     true,
        // * If true, __item will extend to fill of the parent by default
        mobile-first:   true,
        // * If true, the grid will output extendable silent classes
        silent-classes: false,
        // * Gutter
        gutter:         24px
    ),

    // * Breakpoint widths. If `(settings, responsive)`is true, each of these will have an own grid-system

    breakpoints: (
        palm:           "(max-width: 480px)",
        lap:            "(min-width: 481px) and (max-width: 1023px)",
        lap-up:         "(min-width: 481px)",
        desk:           "(min-width: 1024px)",
        high:           "(min-width: 1500px)"
    ),

    // * Push classes

    push:(
        // * If true, generic push-classes will be generated
        use-push:         true,
        // * If true, push-classes for each breakpoint will be created
        responsive:       false
    ),

    // * Pull classes

    pull: (
        // * If true, a generic pull-class will be generated
        use-pull:         true,
        // * If true, pull-classes for each breakpoint will be created
        responsive:       false
    ),

    // * Settings for the fallback-grid

    legacy:(
        // * Set to true if you intend to fix the white-space behaviour in markup
        use-markup-fix: false,
        // * With some fonts, the amount of letter-spacing needs to be adjusted to work
        letter-spacing: -.31em,
        word-spacing:   -.43em
    ),

    // * Grid modifiers

    modifiers:(
        // * If true, --modifiers will be included
        use-modifiers:  true,
        // * Include --full (grid w/o margins/paddings)
        full:           true,
        // * include --rev (reversed source-order)
        rev:            true,
        // * include --center (horizontally centered grid)
        center:         true,
        // * include --right (right aligned grif)
        right:          true,
        // * include --wide (grid w/ wider margins)
        wide:           true,
        // * include --narrow (grid w/ narrower margins)
        narrow:         true,
        // * include --bottom (vertically-aligned-to-bottom grid)
        bottom:         true,
        // * include --middle (vertically-center grid)
        middle:         true

    ),

    // * Grid widths

    widths: (
        halves:         true,
        thirds:         true,
        quarters:       true,
        fifths:         true,
        sixths:         true,
        eighths:        true,
        tenths:         true,
        twelfths:       true
    ),

    // * Visibility helpers

    visibility: (
        show:           true, // * will generate --show && __item--show classes for each breakpoint
        hide:           true  // * will generate --hide && __item--hide classes for each breakpoint
    )
);

// * Import grid functionality

@import "fundament/functions";
@import "fundament/core";
@import "fundament/modifiers";
@import "fundament/widths";

@include fundament-init();



