
body {
    margin: 2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #15548a;
    color: #ecf0f1;
    line-height: 1.5;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

div {
    margin: 0;
}

.grid__item {
    text-align: center;
}

article {
    margin-bottom: 1em;
}

.grid__item > p {
    color: #ecf0f1;
    border: .125em solid #ecf0f1;
    padding: 1.5em;
    width: 100%;
}


h2,
h3 {
    line-height: 1;
    font-weight: 700;
}

h2 {
    display: inline-block;
    padding-bottom: .25em;
    border-bottom: .125em solid #ecf0f1;
}


@media only screen and (max-width: 480px) {
    .grid__item > p {
        padding: .25em;
    }
}

