
///////////////////////////////
// Functions
///////////////////////////////


// DRY Mixins @ atimport/toolkit
//////////////////////////////

$fdmt-placeholders: ();

// Placeholder Get/Set
//////////////////////////////

@function fdmt-placeholder-get($id) {
    @return map-get($fdmt-placeholders, $id);
}

@function fdmt-placeholder-set($id) {
    $unique-id: unique-id();
    $fdmt-placeholders: map-merge($fdmt-placeholders, ($id: $unique-id)) !global;
    @return $unique-id;
}

// Generate Placeholder Class and Extend
//////////////////////////////

@mixin dynamic-extend($id) {
    $placeholder-id: fdmt-placeholder-get($id);

    @if $placeholder-id == null {
    $placeholder-id: fdmt-placeholder-set($id);
    @at-root %#{$placeholder-id} {
      @content;
    }
    }
    @extend %#{$placeholder-id};
}

// Static Mixin Helper
//////////////////////////////

@mixin mixin-dryer($id, $extend: true) {
    @if $extend == true {
        @include dynamic-extend($id) {
            @content;
        }
    }
    @else {
        @content;
    }
}

// Argument Parser
//////////////////////////////

@mixin grid-calc($prop, $widths...) {

    $arg-length: length($widths);

    @if $arg-length != 0 {

        $width-detected: false;

        @each $width in $widths {

            @if type-of($width) == number {
                #{$prop}: cw($width);
                $width-detected: true;
            }
            @else {

                // * "lap 2/3"-synthax
                $key: nth($width, 1);
                $value: nth($width, 2);

                // * Cater for "2/3 lap"-synthax
                @if type-of(nth($width, 1)) == number {
                    $value: nth($width, 1);
                    $key: nth($width, 2);
                }

                @if map-has-key($fdmt-breakpoints, $key) {
                    @include bp($key){
                        #{$prop}: cw($value)
                    }
                } @else {
                    @warn "You are trying to assign a width to an unknown breakpoint: #{$key}"
                }
            }
        }

        // * If only responsive params are passed, default to mobile-first
        @if $width-detected == false and $prop == width {
            #{$prop}: 100%;
        }

    }
    // * If no params are passed, default to mobile-first
    @else {
        @if $prop == width {
            #{$prop}: 100%;
        }
        @else {
            @error "You need to pass at least one statement to push/pull "
        }
    }
}


// Calculate Width (Fraction => Percentage)
//////////////////////////////

@function calculate-width($fraction) {
    @return ($fraction * 100 * 1%);
}

@function cw($fraction) {
    @return calculate-width($fraction);
}

// Shorthands
//////////////////////////////

@mixin g($modifiers...){
    @include grid($modifiers...);
}

@mixin i($widths...) {
    @include item($widths...);
}
