
//////////////////////////////
// Modifiers
///////////////////////////////

@mixin grid-modifiers($modifiers...) {
    @each $modifier in $modifiers {
        @include grid-modifier($modifier);
    }
}

@mixin grid-modifier($modifier){

    // x-Axis Alignment
    //////////////////////////////

    @if $modifier == left {
        justify-content: flex-start;
    }
    @else if $modifier == right {
        justify-content: flex-end;
    }
    @else if $modifier == center {
        justify-content: center;
    }

    // * y-Axis Alignment
    //////////////////////////////

    @else if $modifier == top {
        align-items: flex-start;
    }
    @else if $modifier == bottom {
        align-items: flex-end;
    }
    @else if $modifier == middle {
        align-items: center;
    }
    @else if $modifier == stretch {
        align-items: stretch;
        > * {
            display: flex;
            flex-flow: row wrap;
        }
    }

    // Flex Alignment
    ///////////////////////////////

    @else if $modifier == space-around {
        justify-content: space-around;
    }
    @else if $modifier == space-between {
        justify-content: space-between;
    }

    // Spacing
    //////////////////////////////

    @else if $modifier == default {
        margin-left: -$fdmt-gutter;
        > * {
            padding-left: $fdmt-gutter;
        }
    }
    @else if $modifier == full {
        margin-left: 0;
        > * {
            padding-left: 0;
        }
    }
    @else if $modifier == wide {
        margin-left: -$fdmt-gutter * 2;
        > * {
            padding-left: $fdmt-gutter * 2;
        }
    }
    @else if $modifier == narrow {
        margin-left: -$fdmt-gutter / 2;
        > * {
            padding-left: $fdmt-gutter / 2;
        }
    }

    // Flex Spacing
    ///////////////////////////////

    @else if $modifier == auto {
        > * {
            width: auto;
            flex: 1 1 auto;
        }
    }

    // Direction
    ///////////////////////////////

    @else if $modifier == rev {
        flex-flow: wrap-reverse row;
    }
}
