
// * Fundament Widths
// * ---------------------
// * Mixin to generate widths & helpers for each breakpoint
// @contains:
// @  1. fdmt-grid--widths()
// @    1. Widths (wholes-twelfths)
// @    2. visibility Helpers
// * ---------------------

// * fdmt-grid--widths
// @type: mixin
// @exports: fdmt-grid--widths(property, prefix(push|pull, mq));
// * ---------------------

@mixin fdmt-grid--widths($property: "width", $prefix: "", $mq: "") {

    $fdmt-bp: #{$fdmt-grid--type}#{$prefix}#{$mq};

    // * Wholes
    #{$fdmt-bp}one-whole              { #{$property}: 100%; }

    // * Halves
    @if(fdmt-grid(widths, halves) == true) {
        // * 1/2
        #{$fdmt-bp}one-half           { #{$property}: 50%; }
    }

    // * Thirds
    @if(fdmt-grid(widths, thirds) == true) {
        // * 1/3
        #{$fdmt-bp}one-third          { #{$property}: 33.333%; }

        // * 2/3
        #{$fdmt-bp}two-thirds         { #{$property}: 66.666%; }
    }

    // * Quarters
    @if(fdmt-grid(widths, quarters) == true) {
        // * 1/4
        #{$fdmt-bp}one-quarter        { #{$property}: 25%; }

        // * 2/4
        @if(fdmt-grid(widths, halves) == true) {
            #{$fdmt-bp}two-quarters   { @extend #{$fdmt-bp}one-half; }
        } @else {
            #{$fdmt-bp}two-quarters   { #{$property}: 50%; }
        }

        // * 3/4
        #{$fdmt-bp}three-quarters     { #{$property}: 75%; }
    }

    // * Fifths
    @if(fdmt-grid(widths, fifths) == true) {
        // * 1/5
        #{$fdmt-bp}one-fifth          { #{$property}: 20%; }

        // * 2/5
        #{$fdmt-bp}two-fifths         { #{$property}: 40%; }

        // * 3/5
        #{$fdmt-bp}three-fifths       { #{$property}: 60%; }

        // * 4/5
        #{$fdmt-bp}four-fifths        { #{$property}: 80%; }
    }

    // * Sixths
    @if(fdmt-grid(widths, sixths) == true) {
        // * 1/6
        #{$fdmt-bp}one-sixth          { #{$property}: 16.666%; }

        // * 2/6
        @if(fdmt-grid(widths, thirds) == true) {
            #{$fdmt-bp}two-sixths     { @extend #{$fdmt-bp}one-third; }
        } @else {
            #{$fdmt-bp}two-sixths     { #{$property}: 33.333% }
        }

        // * 3/6
        @if(fdmt-grid(widths, halves) == true) {
            #{$fdmt-bp}three-sixths   { @extend #{$fdmt-bp}one-half; }
        } @else {
            #{$fdmt-bp}three-sixths   { #{$property}: 50% }
        }

        // * 4/6
        @if(fdmt-grid(widths, thirds) == true) {
            #{$fdmt-bp}four-sixths    { @extend #{$fdmt-bp}two-thirds; }
        } @else {
            #{$fdmt-bp}four-sixths    { #{$property}: 66.666% }
        }

        // * 5/6
        #{$fdmt-bp}five-sixths        { #{$property}: 83.333%; }
    }

    // * Eights
    @if(fdmt-grid(widths, eighths) == true) {
        // * 1/8
        #{$fdmt-bp}one-eighth         { #{$property}: 12.5%; }

        // * 2/8
        @if(fdmt-grid(widths, quarter) == true) {
            #{$fdmt-bp}two-eighths    { @extend #{$fdmt-bp}one-quarter; }
        } @else {
            #{$fdmt-bp}two-eighths    { #{$property}: 25%; }
        }

        // * 3/8
        #{$fdmt-bp}three-eights       { #{$property}: 37.5%; }

        // * 4/8
        @if(fdmt-grid(widths, halves) == true) {
            #{$fdmt-bp}four-eighths   { @extend #{$fdmt-bp}one-half; }
        } @else {
            #{$fdmt-bp}four-eighths   { #{$property}: 50%; }
        }

        // * 5/8
        #{$fdmt-bp}five-eighths       { #{$property}: 62.5%; }

        // * 6/8
        @if(fdmt-grid(widths, quarters) == true) {
            #{$fdmt-bp}six-eighths    { @extend #{$fdmt-bp}three-quarters; }
        } @else {
            #{$fdmt-bp}six-eighths    { #{$property}: 75%; }
        }

        // * 7/8
        #{$fdmt-bp}seven-eighths      { #{$property}: 87.5%; }
    }

    // * Tenths
    @if(fdmt-grid(widths, tenths) == true) {
        // * 1/10
        #{$fdmt-bp}one-tenth          { #{$property}: 10%; }

        // * 2/10
        @if(fdmt-grid(widths, fifths) == true) {
            #{$fdmt-bp}two-tenths     { @extend #{$fdmt-bp}one-fifth; }
        } @else {
            #{$fdmt-bp}two-tenths     { #{$property}: 20%; }
        }

        // * 3/10
        #{$fdmt-bp}three-tenths       { #{$property}: 30%; }

        // * 4/10
        @if(fdmt-grid(widths, fifths) == true) {
            #{$fdmt-bp}four-tenths    { @extend #{$fdmt-bp}two-fifths; }
        } @else {
            #{$fdmt-bp}four-tenths    { #{$property}: 40%; }
        }

        // * 5/10
        @if(fdmt-grid(widths, halves) == true) {
            #{$fdmt-bp}five-tenths    { @extend #{$fdmt-bp}one-half; }
        } @else {
            #{$fdmt-bp}five-tenths    { #{$property}: 50%; }
        }

        // * 6/10
        @if(fdmt-grid(widths, fifths) == true) {
            #{$fdmt-bp}six-tenths     { @extend #{$fdmt-bp}three-fifths; }
        } @else {
            #{$fdmt-bp}six-tenths     { #{$property}: 60%; }
        }

        // * 7/10
        #{$fdmt-bp}seven-tenths       { #{$property}: 70%; }

        // * 8/10
        @if(fdmt-grid(widths, fifths) == true) {
            #{$fdmt-bp}eight-tenths    { @extend #{$fdmt-bp}four-fifths; }
        } @else {
            #{$fdmt-bp}eight-tenths    { #{$property}: 80%; }
        }

        // * 9/10
        #{$fdmt-bp}nine-tenths        { #{$property}: 90%; }
    }

    // * Twelfths
    @if(fdmt-grid(widths, twelfths) == true) {
        // * 1/12
        #{$fdmt-bp}one-twelfth        { #{$property}: 8.333%; }

        // * 2/12
        @if(fdmt-grid(widths, sixths) == true) {
            #{$fdmt-bp}two-twelfths   { @extend #{$fdmt-bp}one-sixth; }
        } @else {
            #{$fdmt-bp}two-twelfths   { #{$property}: 16.666%; }
        }

        // * 3/12
        @if(fdmt-grid(widths, quarters) == true) {
            #{$fdmt-bp}three-twelfths { @extend #{$fdmt-bp}one-quarter; }
        } @else {
            #{$fdmt-bp}three-twelfths { #{$property}: 25% }
        }

        // * 4/12
        @if(fdmt-grid(widths, thirds) == true) {
            #{$fdmt-bp}four-twelfths  { @extend #{$fdmt-bp}one-third; }
        } @else {
            #{$fdmt-bp}four-twelfths  { #{$property}: 33.333% }
        }

        // * 5/12
        #{$fdmt-bp}five-twelfths      { #{$property}: 41.666% }

        // * 6/12
        @if(fdmt-grid(widths, halves) == true) {
            #{$fdmt-bp}six-twelfths   { @extend #{$fdmt-bp}one-half; }
        } @else {
            #{$fdmt-bp}six-twelfths   { #{$property}: 50% }
        }

        // * 7/12
        #{$fdmt-bp}seven-twelfths     { #{$property}: 58.333%; }

        // * 8/12
        @if(fdmt-grid(widths, thirds) == true) {
            #{$fdmt-bp}eight-twelfths  { @extend #{$fdmt-bp}two-thirds; }
        } @else {
            #{$fdmt-bp}eight-twelfths  { #{$property}: 66.666% }
        }

        // * 9/12
        @if(fdmt-grid(widths, quarters) == true) {
            #{$fdmt-bp}nine-twelfths   { @extend #{$fdmt-bp}three-quarters; }
        } @else {
            #{$fdmt-bp}nine-twelfths   { #{$property}: 75% }
        }

        // * 10/12
        @if(fdmt-grid(widths, sixths) == true) {
            #{$fdmt-bp}ten-twelfths    { @extend #{$fdmt-bp}five-sixths; }
        } @else {
            #{$fdmt-bp}ten-twelfths    { #{$property}: 83.333%; }
        }

        // * 11/12
        #{$fdmt-bp}eleven-twelfths    { #{$property}: 91.666%; }
    }

    // * Visibility Helpers
    // * These classes can be used to hide and show items dependent on a breakpoint
    // * ---------------------

    @if($prefix == "") {
        $fdmt-vsbp: #{$fdmt-grid--type}#{$mq}#{$fdmt-grid--name};
        @if(fdmt-grid(visibility-helper, hide) == true) {
            #{$fdmt-vsbp}--hide,
            #{$fdmt-vsbp}-#{$fdmt-grid--item}--hide {
                display: none;
            }
        }
        @if(fdmt-grid(visibility-helper, show) == true) {
           #{$fdmt-vsbp}--show {
                display: block;
            }
            #{$fdmt-vsbp}-#{$fdmt-grid--item}--show {
                display: inline-block;
            }
        }
    }

}

