block content

  header(role="banner")
    h1 Test: Modifiers



  // * X-Axis Modifiers

  section.modifier-right
    header.modifier-header
      h2
        code right
    article.modifier-item
      div.block
    article.modifier-item
      div.block

  section.modifier-center
    header.modifier-header
      h2
        code center
    article.modifier-item
      div.block
    article.modifier-item
      div.block

  section.modifier-space-around
    header.modifier-header
      h2
        code space-around
    article.modifier-item
      div.block
    article.modifier-item
      div.block

  section.modifier-space-between
    header.modifier-header
      h2
        code space-between
    article.modifier-item
      div.block
    article.modifier-item
      div.block


  // * Y Axis Modifiers

  section.modifier-middle
    header.modifier-header
      h2
        code middle
    article.modifier-item
      div.block.large
      // * Nested
      section.modifier-middle
        article.modifier-item
          div.block.large
        article.modifier-item
          div.block
        article.modifier-item
          div.block
    article.modifier-item
      div.block
    article.modifier-item
      div.block

  section.modifier-bottom
    header.modifier-header
      h2
        code bottom
    article.modifier-item
      div.block.large
      // * Nested
      section.modifier-bottom
        article.modifier-item
          div.block.large
        article.modifier-item
          div.block
        article.modifier-item
          div.block
    article.modifier-item
      div.block
    article.modifier-item
      div.block

  section.modifier-stretch
    header.modifier-header
      h2
        code stretch (mixin)
    article.modifier-item
      div.block.large
      // * Nested
      section.modifier-stretch
        article.modifier-item
          div.block.large
        article.modifier-item
          div.block
        article.modifier-item
          div.block
    article.modifier-item
      div.block
    article.modifier-item
      div.block

  // * Width

  section.modifier-narrow
    header.modifier-header
      h2
        code narrow
    article.modifier-item
      div.block.large
      // * Nested
      section.modifier-narrow
        article.modifier-item
          div.block
        article.modifier-item
          div.block
        article.modifier-item
          div.block
    article.modifier-item
      div.block
    article.modifier-item
      div.block

  section.modifier-full
    header.modifier-header
      h2
        code full
    article.modifier-item
      div.block.large
      // * Nested
      section.modifier-full
        article.modifier-item
          div.block
        article.modifier-item
          div.block
        article.modifier-item
          div.block
    article.modifier-item
      div.block
    article.modifier-item
      div.block

  section.modifier-wide
    header.modifier-header
      h2
        code wide
    article.modifier-item
      div.block.large
      // * Nested
      section.modifier-wide
        article.modifier-item
          div.block
        article.modifier-item
          div.block
        article.modifier-item
          div.block
    article.modifier-item
      div.block
    article.modifier-item
      div.block

  // * Direction

  section.modifier-xrev
    header.modifier-header
      h2
        code xrev
    article.modifier-item
      div.block.large
      // * Nested
      section.modifier-xrev
        article.modifier-item
          div.block
        article.modifier-item
          div.block
        article.modifier-item
          div.block
    article.modifier-item
      div.block
    article.modifier-item
      div.block


  header.modifier-header
    h2
      code rev
  section.modifier-yrev
    article.modifier-item
      div.block.large
      // * Nested
      section.modifier-yrev
        article.modifier-item
          div.block
        article.modifier-item
          div.block
        article.modifier-item
          div.block
    article.modifier-item
      div.block
    article.modifier-item
      div.block

  header.modifier-header
    h2
      code rev
  section.modifier-rev
    article.modifier-item
      div.block.large
      // * Nested
      section.modifier-rev
        article.modifier-item
          div.block
        article.modifier-item
          div.block
        article.modifier-item
          div.block
    article.modifier-item
      div.block
    article.modifier-item
      div.block
