block content

  header(role="banner")
    h1 Test: Widths


  section.widths-container
    // Column #1
    article.widths-column
      // 1
      div.widths-container
        article.one
          div.block

      // 2
      section.widths-container
        article.widths-item.one-two
          div.block
        article.widths-item.one-two
          div.block

      // 3
      section.widths-container
        article.widths-item.one-three
          div.block
        article.widths-item.two-three
          div.block

      // 4
      section.widths-container
        article.widths-item.one-four
          div.block
        article.widths-item.three-four
          div.block


      // 5
      section.widths-container
        article.widths-item.one-five
          div.block
        article.widths-item.four-five
          div.block
    // Column #2
    article.widths-column
      // 6
      section.widths-container
        article.widths-item.five-six
          div.block
        article.widths-item.one-six
          div.block
      // 7
      section.widths-container
        article.widths-item.six-seven
          div.block
        article.widths-item.one-seven
          div.block
      // 8
      section.widths-container
        article.widths-item.seven-eight
          div.block
        article.widths-item.one-eight
          div.block
      // 9
      section.widths-container
        article.widths-item.eight-nine
          div.block
        article.widths-item.one-nine
          div.block
      // 9
      section.widths-container
        article.widths-item.nine-ten
          div.block
        article.widths-item.one-ten
          div.block

