
// * Fundament Functions
// * ---------------------
// * Sass functions & mixins to assemble the grid.
// @contains:
// @  1. fdmt()
// @  2. fdmt-init()
// @  3. fdmt-responsive()
// * ---------------------

// * Map the config to an accesible map
// @type: function
// @exports: fdmt(group, setting);
// * ---------------------

@function fdmt($group, $setting) {
    @if($group and $setting) {
        @return map-get(map-get($fdmt, $group), $setting);
    } @else {
        @warn "Setting #{$setting} does not exist under #{$group}!";
        @return false;
    }
}

// * Init function that handles build
// @type: mixin
// @exports: fdmt-init();
// * ---------------------

@mixin fdmt-init() {
    // * Always include the default grid
    @include fdmt-widths();

    // * if true, include a grid for each breakpoint
    @if (fdmt(settings, responsive) == true){
        @include fdmt-responsive();
    }

    // * if true, include push-classes
    @if(fdmt(push, use-push) == true) {
        // * Make the items pushable
        [class*="push--"]{ position:relative; }

        @include fdmt-widths("left", "push--");

        // * if true, include responsive push classes
        @if (fdmt(push, responsive) == true){
            @include fdmt-responsive("left", "push--");
        }
    }

    // * if true, include pull-classes
    @if(fdmt(pull, use-pull) == true) {
        // * Make the items pullable
        [class*="pull--"]{ position:relative; }

        @include fdmt-widths("right", "pull--");

        // * if true, include responsive pull classes
        @if (fdmt(pull, responsive) == true){
            @include fdmt-responsive("right", "pull--");
        }
    }

}

// * Maps config-breakpoints to widths
// @type: mixin
// @exports: fundament-reponsive($value, $prefix:);
// * ---------------------

@mixin fdmt-responsive($value:"width", $prefix:""){

    // * Get all breakpoints
    $fdmt--breakpoints: map-get($fdmt, breakpoints);
    // * Test-boolean
    $breakpoint--ok: false;

    // * Build a mq for each breakpoint and include prefixed-widths for this
    @each $breakpoint in $fdmt--breakpoints {

        $name: #{nth($breakpoint, 1)};
        $declaration: nth($breakpoint, 2);

        @if ($name and type-of($declaration) == "string"){
            $breakpoint--ok: true;
            @media only screen and #{$declaration} {
                @include fdmt-widths($value, $prefix, '#{$name}--');
            }
        } @else {
            @warn "Your breakpoint #{$name} is not alright.";
        }
    }
}
