
// * Fundament Widths
// * ---------------------
// * Mixin to generate widths & helpers for each breakpoint
// @contains:
// @  1. fdmt-widths()
// @    1. Widths (wholes-twelfths)
// @    2. Visibility Helpers
// * ---------------------

// * fdmt-widths
// @type: mixin
// @exports: fdmt-widths(property, prefix(push|pull, mq));
// * ---------------------

@mixin fdmt-widths($property: "width", $prefix: "", $mq: "") {

    // * Wholes
    #{$fdmt--class-type}#{$prefix}#{$mq}one-whole              { #{$property}: 100%; }

    // * Halves
    @if(fdmt(widths, halves) == true) {
        #{$fdmt--class-type}#{$prefix}#{$mq}one-half           { #{$property}: 50%; }
    }

    // * Thirds
    @if(fdmt(widths, thirds) == true) {
        #{$fdmt--class-type}#{$prefix}#{$mq}one-third          { #{$property}: 33.333%; }
        #{$fdmt--class-type}#{$prefix}#{$mq}two-thirds         { #{$property}: 66.666%; }
    }

    // * Quarters
    @if(fdmt(widths, quarters) == true) {
        #{$fdmt--class-type}#{$prefix}#{$mq}one-quarter        { #{$property}: 25%; }
        @if(fdmt(widths, halves) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}two-quarters   { @extend #{$fdmt--class-type}#{$prefix}#{$mq}one-half }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}two-quarters   { #{$property}: 50%; }
        }
        #{$fdmt--class-type}#{$prefix}#{$mq}three-quarters     { #{$property}: 75%; }
    }

    // * Fifths
    @if(fdmt(widths, fifths) == true) {
        #{$fdmt--class-type}#{$prefix}#{$mq}one-fifth          { #{$property}: 20%; }
        #{$fdmt--class-type}#{$prefix}#{$mq}two-fifths         { #{$property}: 40%; }
        #{$fdmt--class-type}#{$prefix}#{$mq}three-fifths       { #{$property}: 60%; }
        #{$fdmt--class-type}#{$prefix}#{$mq}four-fifths        { #{$property}: 80%; }
    }

    // * Sixths
    @if(fdmt(widths, sixths) == true) {
        #{$fdmt--class-type}#{$prefix}#{$mq}one-sixth           { #{$property}: 16.666%; }
        @if(fdmt(widths, thirds) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}two-sixths      { @extend #{$fdmt--class-type}#{$prefix}#{$mq}one-third }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}two-sixths      { #{$property}: 33.333% }
        }
        @if(fdmt(widths, halves) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}three-sixths    { @extend #{$fdmt--class-type}#{$prefix}#{$mq}one-half }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}three-sixths    { #{$property}: 50% }
        }
        @if(fdmt(widths, thirds) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}four-sixths     { @extend #{$fdmt--class-type}#{$prefix}#{$mq}two-thirds }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}four-sixths     { #{$property}: 66.666% }
        }
        #{$fdmt--class-type}#{$prefix}#{$mq}five-sixths         { #{$property}: 83.333%; }
    }

    // * Eights
    @if(fdmt(widths, eighths) == true) {
        #{$fdmt--class-type}#{$prefix}#{$mq}one-eighth          { #{$property}: 12.5%; }
        @if(fdmt(widths, quarter) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}two-eighths     { @extend #{$fdmt--class-type}#{$prefix}#{$mq}one-quarter }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}two-eighths     { #{$property}: 25%; }
        }
        #{$fdmt--class-type}#{$prefix}#{$mq}three-eights        { #{$property}: 37.5%; }
        @if(fdmt(widths, halves) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}four-eighths    { @extend #{$fdmt--class-type}#{$prefix}#{$mq}one-half }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}four-eighths    { #{$property}: 50%; }
        }
        #{$fdmt--class-type}#{$prefix}#{$mq}five-eighths        { #{$property}: 62.5%; }
        @if(fdmt(widths, quarters) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}six-eighths     { @extend #{$fdmt--class-type}#{$prefix}#{$mq}three-quarters }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}six-eighths     { #{$property}: 75%; }
        }
        #{$fdmt--class-type}#{$prefix}#{$mq}seven-eighths       { #{$property}: 87.5%; }
    }

    // * Tenths
    @if(fdmt(widths, tenths) == true) {
        #{$fdmt--class-type}#{$prefix}#{$mq}one-tenth           { #{$property}: 10%; }
        @if(fdmt(widths, fifths) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}two-tenths      { @extend #{$fdmt--class-type}#{$prefix}#{$mq}one-fifth }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}two-tenths      { #{$property}: 20%; }
        }
        #{$fdmt--class-type}#{$prefix}#{$mq}three-tenths        { #{$property}: 30%; }
        @if(fdmt(widths, fifths) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}four-tenths     { @extend #{$fdmt--class-type}#{$prefix}#{$mq}two-fifths }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}four-tenths     { #{$property}: 40%; }
        }
        @if(fdmt(widths, halves) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}five-tenths     { @extend #{$fdmt--class-type}#{$prefix}#{$mq}one-half }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}five-tenths     { #{$property}: 50%; }
        }
        @if(fdmt(widths, fifths) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}six-tenths      { @extend #{$fdmt--class-type}#{$prefix}#{$mq}three-fifths }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}six-tenths      { #{$property}: 60%; }
        }
        #{$fdmt--class-type}#{$prefix}#{$mq}seven-tenths        { #{$property}: 70%; }
        @if(fdmt(widths, fifths) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}eight-tenths    { @extend #{$fdmt--class-type}#{$prefix}#{$mq}four-fifths }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}eight-tenths    { #{$property}: 80%; }
        }
        #{$fdmt--class-type}#{$prefix}#{$mq}nine-tenths         { #{$property}: 90%; }
    }

    // * Twelfths
    @if(fdmt(widths, twelfths) == true) {
        #{$fdmt--class-type}#{$prefix}#{$mq}one-twelfth         { #{$property}: 8.333%; }
        @if(fdmt(widths, sixths) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}two-twelfths    { @extend #{$fdmt--class-type}#{$prefix}#{$mq}one-sixth }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}two-twelfths    { #{$property}: 16.666%; }
        }
        @if(fdmt(widths, quarters) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}three-twelfths  { @extend #{$fdmt--class-type}#{$prefix}#{$mq}one-quarter }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}three-twelfths  { #{$property}: 25% }
        }
        @if(fdmt(widths, thirds) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}four-twelfths   { @extend #{$fdmt--class-type}#{$prefix}#{$mq}one-third }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}four-twelfths   { #{$property}: 33.333% }
        }
        #{$fdmt--class-type}#{$prefix}#{$mq}five-twelfths       { #{$property}: 41.666% }
        @if(fdmt(widths, halves) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}six-twelfths    { @extend #{$fdmt--class-type}#{$prefix}#{$mq}one-half }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}six-twelfths    { #{$property}: 50% }
        }
        #{$fdmt--class-type}#{$prefix}#{$mq}seven-twelfths      { #{$property}: 58.333%; }
        @if(fdmt(widths, thirds) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}eight-twelfths  { @extend #{$fdmt--class-type}#{$prefix}#{$mq}two-thirds }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}eight-twelfths  { #{$property}: 66.666% }
        }
        @if(fdmt(widths, quarters) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}nine-twelfths   { @extend #{$fdmt--class-type}#{$prefix}#{$mq}three-quarters }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}nine-twelfths   { #{$property}: 75% }
        }
        @if(fdmt(widths, sixths) == true) {
            #{$fdmt--class-type}#{$prefix}#{$mq}ten-twelfths    { @extend #{$fdmt--class-type}#{$prefix}#{$mq}five-sixths }
        } @else {
            #{$fdmt--class-type}#{$prefix}#{$mq}ten-twelfths    { #{$property}: 83.333%; }
        }
        #{$fdmt--class-type}#{$prefix}#{$mq}eleven-twelfths     { #{$property}: 91.666%; }
    }

    // * Visibility Helpers
    // * These classes can be used to hide and show items dependent on a breakpoint
    // * ---------------------

    @if($prefix == "") {
        @if(fdmt(visibility, hide) == true) {
            #{$fdmt--class-type}#{$mq}#{$fdmt--namespace}--hide,
            #{$fdmt--class-type}#{$mq}#{$fdmt--namespace}__#{$fdmt--item}--hide {
                display: none;
            }
        }
        @if(fdmt(visibility, show) == true) {
            #{$fdmt--class-type}#{$mq}#{$fdmt--namespace}--show {
                display: block;
            }
            #{$fdmt--class-type}#{$mq}#{$fdmt--namespace}__#{$fdmt--item}--show {
                display: inline-block;
            }
        }
    }

}

