
///////////////////////////////
// Core
///////////////////////////////

// Static Content
// 1. https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored
///////////////////////////////

@mixin grid-static {
    @include mixin-dryer("grid"){
        display: flex;
        flex: initial;
        flex-flow: row wrap;
        list-style: none;
        margin-left: (-$hagrid-gutter/2);
        margin-right: (-$hagrid-gutter/2);
        padding: 0;
        @include grid-modifiers(top,left);
    }
}


@mixin item-static {
    @include mixin-dryer("item"){
        flex-shrink: 0; // * 1
        box-sizing: border-box;
        padding-left: ($hagrid-gutter/2);
        padding-right:  ($hagrid-gutter/2);
    }
}

@mixin push-pull-static {
    @include mixin-dryer("push-pull"){
        position: relative;
    }
}

// Grid Wrapper
///////////////////////////////

@mixin grid($modifiers...) {

    @include grid-static();

    @include grid-modifiers($modifiers...);
}

// Grid Item
///////////////////////////////

@mixin item($widths...) {

    @include item-static();

    @include grid-calc(width, $widths...);
}


// Push / Pull
///////////////////////////////

@mixin pull($widths...) {

    @include push-pull-static();

    @include grid-calc(right, $widths...);


}

@mixin push($widths...) {

    @include push-pull-static();

    @include grid-calc(left, $widths...);

}

// Stretch
///////////////////////////////

@mixin stretch {
    align-self: stretch;
    display: flex;
    flex-flow: row wrap;
    > * {
        flex: 1 1 100%;
    }
}

// Breakpoints
///////////////////////////////

@mixin bp($breakpoint) {
    @if map-has-key($hagrid-breakpoints, $breakpoint){
        @media only screen and #{map-get($hagrid-breakpoints, $breakpoint)} {
            @content;
        }
    }
}
